$color-blue: #4ea8de;
$color-purple: #5e60ce;
$color-font: #f2f2f2;
$color-gray700: #0d0d0d;
$color-gray600: #1a1a1a;
$color-gray500: #262626;
$color-gray300: #808080;
$color-gray400: #333333;
$color-gray200: #d9d9d9;
$color-gray100: #f2f2f2;
$color-delete: #e25858;
$color-white: #fff;
$timer-size: 400px;

body {
  background-color: $color-gray600;

  * {
    box-sizing: border-box;
  }
}

.hide {
  display: none !important;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 200px;
  background-color: $color-gray700;

  #time-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-font;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #time-timer:hover {
    color: $color-blue;
  }

  img {
    width: 22px;
    height: 36px;
  }

  h1 {
    font-size: 40px;
    font-weight: 900;
    color: $color-purple;

    span {
      color: $color-blue;
    }
  }
}

/* Input */
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 180px auto;

  input {
    width: 638px;
    height: 54px;
    background-color: $color-gray500;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    color: $color-font;

    &::placeholder {
      color: $color-gray300;
    }
  }

  .btn {
    width: 90px;
    height: 50px;
    background-color: #1e6f9f;
    border-radius: 8px;
    outline: none;
    border: none;
    color: $color-font;
    font-size: 14px;
    transition: 0.3s;

    &:hover {
      background-color: $color-blue;
    }
  }
}

/* List */

.todo__list {
  width: 740px;
  margin: 98px auto 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .todo__count {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $color-blue;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 12px;

    span {
      color: $color-gray200;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      padding: 2px 8px;
      text-align: center;
      border-radius: 999px;
      background-color: $color-gray400;
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: $color-font;
    padding: 16px;
    border-radius: 8px;
    background-color: $color-gray500;

    input[type='checkbox'] {
      display: none;

      + label {
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 3px solid $color-blue;
        border-radius: 50%;
        position: relative;
      }

      &:checked {
        + label {
          border: none;
          &::after {
            content: '✔';
            font-size: 14px;
            line-height: 24px;
            width: 100%;
            height: 100%;
            background-color: $color-purple;
            box-sizing: border-box;
            border-radius: 50%;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    p.content {
      flex-grow: 1;
      font-size: 14px;
      line-height: 20px;
      transition: 0.2s;

      &.done {
        color: $color-gray300;
        text-decoration: line-through;
      }
    }

    .delete {
      color: $color-gray300;
      font-size: 18px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      cursor: pointer;
      border-radius: 4px;

      &:hover {
        color: $color-delete;
        background-color: $color-gray400;
      }
    }
  }
}

// Timer
.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  min-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 12px 17px 2px rgba($color: #111, $alpha: 0.12), 0px 5px 22px 4px rgba($color: #111, $alpha: 0.12),
    0px 7px 8px -4px rgba($color: #111, $alpha: 0.12);
  background-color: $color-gray400;

  .timer-header {
    width: 100%;
    padding: 10px 0;

    h2 {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: $color-white;
    }

    span {
      width: 40px;
      height: 40px;
      font-size: 24px;
      font-weight: 700;
      position: absolute;
      top: 30px;
      right: 20px;
      color: $color-gray100;
      cursor: pointer;
    }
  }

  .btn {
    width: 100px;
    height: 36px;
    background-color: $color-purple;
    color: $color-white;
    font-size: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .btn.start {
    background-color: $color-delete;
  }
}

.circle {
  border-radius: 50%;
  width: $timer-size;
  height: $timer-size;
  position: relative;
  margin-top: 40px;
}

.lines {
  width: 100%;
  height: 100%;
  position: relative;
}

.line {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: calc(50% - 4px / 2);
  background-color: $color-gray200;
}

.cover-circle {
  border-radius: 50%;
  width: 96%;
  height: 96%;
  background-color: $color-gray500;
  position: absolute;
  top: 2%;
  left: 2%;
}

.fins {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fin {
  position: absolute;
  width: 1px;
  height: 50%;
  left: calc(50% - 1px / 2);
  top: 0%;
  background: $color-blue;
  z-index: 2;
  transform-origin: bottom;
}
